body{
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: auto auto 6em auto;
}
img{
  z-index: 0;
  width: 2em;
  height: 2em;
  filter: invert();
}
.reset-icon{
  width: 1.5em;
  height: 1.5em;
}
.title-bar{
  position: sticky;
  left: 0px;
  right: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 1em 1em 1em;
  background-color: black;
  border-bottom: groove;
  border-radius: 0 0 .5em .5em;
}
.title{
  letter-spacing: .5em;
}
.first-letter{
  font-size: 1.2em;
}
.reset{
  background-color: white;
  justify-content: flex-end;
}
.sequencer-rows{
  margin: 1em;
}
.sequence-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.sequence-row div{
  border: solid;
  border-width: thin;
  border-radius: 25%;
  border-color: white;
  width: 2em;
  height: 2em;
  box-shadow: .05em .05em .1em 0 white;
}
.snare-icon, .hihat-icon{
  padding-top: 1em;
}
.footer-buttons{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  border-top: inset;
  border-width: thick;
  border-radius: .5em .5em 0 0;
  background-color: gray;
  padding: .5em 2em 2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bpm input{
  width: 2em;
}
