html, body{
  overflow-x: hidden;
}
body{
  position: relative;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
}
h5{
  text-shadow: .25rem .25rem #3a3a3a;
}
button{
  padding-bottom: .1rem;
  box-shadow: 0 .25rem #3a3a3a;
  border-radius: .25rem;
  border-color: #3a3a3a;
  color: #3a3a3a;
  background-color: #101010;
}
.off{
  font-size: .75rem;
}
.on{
  box-shadow: 0 .25rem #3a3a3a;
  border-radius: .25rem;
  border-color: white;
  color: white;
  background-color: #2a2a2a;
  font-size: .75rem;
}
.on-loud{
  box-shadow: 0 .25rem #3a3a3a;
  border-radius: .25rem;
  border-color: red;
  color: red;
  background-color: #2a2a2a;
  font-size: .75rem;
}
button:active{
  box-shadow: 0 .05rem #3a3a3a;
  transform: translatey(.25rem);

}
footer{
  position: sticky;
  bottom: 0px;
  background-color: black;
  padding-top: .5rem;
  padding-bottom: 2rem;
}
