
body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}
h1{
  width: 100vw;
  height: 10vh;
  font-family: sans-serif;
  font-weight: 100;
  margin: auto;
  text-align: center;
  font-size: .9em;
  letter-spacing: 1em;
}
.grid{
  display: grid;
  grid-template-rows: repeat(5, 10vh);
  grid-template-columns: 90vw;
  
}
